body {
	background: #211917 url(images/bg-body.png) repeat-y center top;
	font-family: "QuattrocentoSans-Regular";
	margin: 0;
}
#menu{
    
    text-decoration: none;
     color: black;
     text-align: center;
     font-size: 20px;
     margin-top: 45px;
     margin-left:150px;
     text-decoration: black;
     
    
    
}
#products{
    color: black;
}
#message{
    
    height: 200px;
    width: 400px;
    
}
#form1{
    margin-left: 20px;
    margin-bottom: 20px;
    
    
    
}
#contact{
    background-color: #f8f8f8;
    margin-bottom: 20px;
}
#contact form {
	background: url(../images/separator-light.png) repeat-x left top;
	padding: 30px 0 0;
}




.float
{

    margin-bottom:10px;

}
h1{
    margin-left: 20px;
}
.formsize{
    width:50px;
}

/*/-----------------------FOOTER-------------*/
#footer {
	background-color: #e2b241;
	
	
}



#links {
	background: url(../images/separator-dark.png) repeat-x left bottom;
	color: #4b3a33;
	display: inline-block;
	width: 500px;
	padding: 0 0 20px;
}

#links > div {
	float: left;
	background: url(../images/separator-dark-vertical.png) repeat-y left top;
	height: 150px;
	padding-left: 20px;
}

#footer #footnote {
	color: #ab7d0f;
	font: 11px/24px "Oswald";
	text-transform: uppercase;
        padding-left: 900px;
}
#footer_nav{
    float: left;
    margin-bottom: 200px;
}
#footer ul.navigation {
	
	display: inline-block;
	line-height: 24px;
	list-style: none;
	margin-top: 20px;
	padding-left: 10px;
}
#footer ul.navigation li {
	float: left;
	margin-left: 15px;
}
#footer ul.navigation li:first-child {
	margin-left: 0;
}
#footer ul.navigation li a {
	color: #ab7d0f;
	font: 15px/28px "Oswald";
	text-decoration: none;
	text-transform: uppercase;
}
#footer ul.navigation li a:hover {
	color: #241b18;
}
.showroom {
        float: left;
	background: none;
	width: 293px;
	padding-left: 0;
	padding-right: 15px;
        height: 100px;
}
p{
    font-size:15px;
    padding: 10px;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
    
}
h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: grey;
    font-family: fantasy;
    
}
.para{
    padding: 10px;
    text-align: left;
    color:black;
}